@font-face {
  font-family: "iconfont"; /* Project id 4645889 */
  src: url('@/font/iconfont.woff2?t=1723110638531') format('woff2'),
       url('@/font/iconfont.woff?t=1723110638531') format('woff'),
       url('@/font/iconfont.ttf?t=1723110638531') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-qiehuanqiyou:before {
  content: "\e602";
  font-size: 25px !important;
}

.icon-qiehuanqizuo:before {
  content: "\e603";
  font-size: 25px !important;
}

.icon-shujukanban:before {
  content: "\e642";
  font-size: 35px !important;
}

.icon-shujukanban1:before {
  content: "\e600";
  font-size: 35px !important;
}

.icon-shebeijiance:before {
  content: "\ead2";
}

.icon-shebeijiance_o:before {
  content: "\eb57";
}

.icon-ESOP:before {
  content: "\e813";
}

.icon-esop:before {
  content: "\e620";
  font-size: 40px !important;
}

.icon-suofang:before {
  content: "\e61f";
}

.icon-lujing-10:before {
  content: "\e601";
}

.icon-tupian:before {
  content: "\e610";
}

.icon-tupian1:before {
  content: "\e63d";
}

.icon-caozuo:before {
  content: "\e6d7";
}

.icon-shipin:before {
  content: "\e619";
}

.icon-gonggao:before {
  content: "\e60f";
}

.icon-gonggao1:before {
  content: "\e651";
}

.icon-caozuopingtai:before {
  content: "\e69b";
}

.icon-shipin1:before {
  content: "\100d9";
}

